*.aar filter=lfs diff=lfs merge=lfs
*.jar filter=lfs diff=lfs merge=lfs
*.dll filter=lfs diff=lfs merge=lfs
*.a filter=lfs diff=lfs merge=lfs
*.jpg filter=lfs diff=lfs merge=lfs
*.jpeg filter=lfs diff=lfs merge=lfs
*.png filter=lfs diff=lfs merge=lfs
*.caf filter=lfs diff=lfs merge=lfs
*.car filter=lfs diff=lfs merge=lfs
*.nib filter=lfs diff=lfs merge=lfs
